<!DOCTYPE html>
<html>
	<head>
		<title>MSIT PrepAcademy</title>
		<!-- <link rel="stylesheet" type="text/css" href="bootstrap.css"> -->
		<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="static/styles/landing-page/Landing Page.css">
	</head>
	<body>
	<div>
		<!-- <div id = "navbar">
			<div class = "nav">
				<img class = "spacing" src="Chaitanya/images/icon.png">
			    	<div style="margin-left: 800px;">
						<a href="#home"><strong>Home</strong></a>
					  	<a href="#about"><strong>About</strong></a>

					  	<div class="dropdown"> -->
					  	<!-- <a href="#userprofile"><strong>UserProfile</strong></a> -->
							<!-- <button class="dropbtn">UserProfile</button>
					    		<div class="dropdown-content">
					    			<a href="#">Account Settings</a>
								    <a href="#">Log Out</a>
					  			</div>
						</div>
			  		</div>
			</div> 
		</div>
	</div>
		<p class ="center"><strong>Companies Which Visited MSIT</strong></p>

		<div class = "imagesMargin">
			<a href="amex.html"></a>
			<a href="amazon.html"></a>
			<a href="oracle.html"></a>
			<a href="nvidia.html"></a>
			<a href="tcs.html"></a>
			<a href="hyundai.html"></a>
			<a href="via.html"></a>
			<a href="maq.html"></a>
			<a href="maq.html"></a>
			<a href="maq.html"></a> -->
			<!-- <a href="https://www.google.co.in/?gfe_rd=cr&ei=vb7TWIXGBujs8AenmYroDw&gws_rd=ssl"><img class ="imageHeight" src="maq	.png"></a>
			<a href="https://www.google.co.in/?gfe_rd=cr&ei=vb7TWIXGBujs8AenmYroDw&gws_rd=ssl"><img class ="imageHeight" src="maq	.png"></a>
			<a href="https://www.google.co.in/?gfe_rd=cr&ei=vb7TWIXGBujs8AenmYroDw&gws_rd=ssl"><img class ="imageHeight" src="maq	.png"></a>
			<a href="https://www.google.co.in/?gfe_rd=cr&ei=vb7TWIXGBujs8AenmYroDw&gws_rd=ssl"><img class ="imageHeight" src="maq	.png"></a> -->
		<!-- </div>

		<div class = "border"> Submit Placements Question Links : <a href= "file:///C:/Users/Mahesh%20Reddy/Desktop/WP/Link%20Submission%20Page/linkSubmition.html"> Click Here </a> </div>
 -->
	</body>
</html>